@charset "utf-8";

body{
    color: black;
}

li{
    list-style: none;
}

.body_content{
    width: 70%;
    margin: 0 auto;
    font-size: 1rem;
}

.question{
    border: 2px solid;
    margin: 10px 2px;
    border-color: black;
}

.header{
    float: right;
}

.questions{
    margin-top: 50px;
}

.nav-item{
    font-size: 1.5rem;
}








/*.container{
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 70%;
    line-height: 100px;
    background-color: #EEEEEE;
    clear: both;
}

.navbar-brand{
    font-size: 20px;
    float: left;
    margin-left: 10px;
}

.navbar-nav{
    float: right;
    margin-top: 0px ;
}

.navbar-nav li{
    float: left;
    margin: 0px 10px;
}*/

